
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* Navbar styles */
  .inline-block {
    display: flex;
    vertical-align: center;
  }
  
  .logo {
    align-items: center;
    justify-content: space-around;
    width: 25%;
  }
  .navigation {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  
  .logo img {
    width: 100%;
    height: 90px;
    width: 53px;
  }

  nav {
    width: 73%;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  nav li:hover {
    text-decoration: underline;
  }
  
 
  .heroImg {
    background: url("path to image") center/cover no-repeat;
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heroImg .content {
    text-align: center;
  }
  
  .heroImg img {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
  }
  
  .heroImg p {
    color: black;
    font-size: 18px;
    margin: 20px 0;
  }
  
  .heroImg button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
.content {
    color: black;
}

  footer {
    background-color: #373738;
    padding: 20px;
    color: white;
  }
  
  footer ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    padding: 0 10px;
  }
  
  footer li:hover {
    text-decoration: underline;
  }
  